+b.testimonials
	+e.container
		+e.H2.title Testimonials
		+e.P.subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		+b.cards
			//- First card
			+b.card
				+e.inner
					+e.img
						IMG(src="../../img/testimonials/photo.png")
					+b.card-desc
						+e.P.text
							| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium tempora eos fugiat eligendi. Autem officia aliquid beatae voluptatum ipsum iste, rerum enim quia! Sit nesciunt minus labore ut, repellendus voluptatum assumenda modi fuga commodi laboriosam omnis quibusdam consequuntur doloremque repellat?
						+e.P.name Partho
						+e.P.company Founder, Artways BD
			//- Second card
			+b.card
				+e.inner
					+e.img
						IMG(src="../../img/testimonials/photo.png")
					+b.card-desc
						+e.P.text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ut, rem totam atque quibusdam, repudiandae veniam natus pariatur, et cupiditate nisi nostrum qui libero ex sequi ipsam at praesentium minima asperiores quam temporibus dolor nam maxime quisquam. Quibusdam, excepturi dolore.
						+e.P.name Partho 2
						+e.P.company Founder, Artways BD
			//- Third card
			+b.card
				+e.inner
					+e.img
						IMG(src="../../img/testimonials/photo.png")
					+b.card-desc
						+e.P.text
							| Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illum qui cupiditate reprehenderit aliquid quia eius consequatur facere facilis rerum nemo minus architecto, vel ad quod rem ipsum sint perferendis expedita molestias. Excepturi error iste laudantium, officia distinctio iusto vitae! Accusantium saepe ipsa expedita ut.
						+e.P.name Partho 3
						+e.P.company Founder, Artways BD

			+b.indicators
				+e.dot(onclick="currentSlide2(1)")
				+e.dot(onclick="currentSlide2(2)")
				+e.dot(onclick="currentSlide2(3)")
