+b.about
	+e.container
		+e.H2.title Details about bouncy
		+e.P.desc
			| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		+b.about-icons
			+e.BUTTON.icon.icon--topaz.about__icon
				+e.IMG.img(src="../../img/heart.png")
			+e.BUTTON.icon.icon--steel.about__icon
				+e.IMG.img(src="../../img/mouse.png")
			+e.BUTTON.icon.icon--steel.about__icon
				+e.IMG.img(src="../../img/lamp.png")
		+b.text-about.about__text
			+e.H3.title
				| Creative Ideas
			+b.ideas
				+e.P.col.text-about__col--left
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
				+e.P.col.text-about__col--right
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r

