.about
	background-color: $color-gray-bg

.about__container
	+container(center)
	padding: 80px 0

.about__title
	+col(12)
	text-align: center

.about__desc
	+col(12)
	text-align: center
	margin: 30px auto 55px

.icon--steel
	+btn-icon(53px, $color-steel)
	&__img
		padding: 17px 0

.icon--topaz
	+btn-icon(53px, $color-topaz)
	&__img
		padding: 17px 0

.about__icon
	margin: 0 14px
