+b.about
	+e.container
		+e.H2.title Details about bouncy
		+e.P.desc
			| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		+b.BUTTON.icon.icon--topaz.about__icon
			+e.IMG.img(src="../../img/heart.png")
		+b.BUTTON.icon.icon--steel.about__icon
			+e.IMG.img(src="../../img/mouse.png")
		+b.BUTTON.icon.icon--steel.about__icon
			+e.IMG.img(src="../../img/lamp.png")


