.main-head
	min-height: 737px
	padding-top: 40px
	position: relative
	z-index: 1
	background-repeat: no-repeat
	background-size: cover
	background-position: 20% center
	&:before
		@extend .before
		z-index: -1
		background-color: #202224
		opacity: .5
	.top-line
		height: 1.78rem
		line-height: 1.78rem
		.logo
			float: left
			padding-top: 7px
			font-size: 1.78rem
			font-family: $font-logo
			color: $color-white
		.nav-top
			float: right
			.nav-top__item
				line-height: 1.78rem
				display: inline-block
				padding: 5px 22px 3px
				&.active
					border: 1px solid $color-white
					border-radius: 43px
			.nav-top__link
				text-decoration: none
				color: $color-white
				font-size: 1.14rem



