+b.subscribe(style="background: url('../../img/subscribe/subscribe-bg.png') no-repeat; background-position: center")
	+e.container
		+e.H2.title Subscribe Us
		+e.P.subtitle
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempore quasi laboriosam lorem, ipsum dolor
		+b.FORM.subscribe-form
			+e.INPUT.text-input(type="text" placeholder="Email Address")
			+e.BUTTON.submit Submit
