.this-is
	background-color: $color-white

.this-is__container
	+container()
	padding: 80px 170px 55px

.this-is-desc
	width: 466px

.this-is-desc__title
	margin: 30px 0 40px

.this-is-desc__text
	margin-bottom: 30px
	letter-spacing: .7px

.this-is-img
	img
		width: 215px

.this-is-desc__read-more
	background-color: $color-white
	padding: 10px 30px
	border: 1px solid $color-charcoal-grey
	border-radius: 37px
	cursor: pointer
	font-size: 16px
	line-height: 16px
	outline: none
