+b.price
	+e.container
		+e.H2.title Our price
		+e.P.subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
		+b.plans
			+b.plan-card
				+e.H4.title Premium
				+b.plan-cost
					+e.P.price #[strong.accent-text $ 60]
					+e.P.period Per Month
				+e.overlay
					+b.plan-desc
						+b.UL.desc-list
							+e.LI.item Full Branding
							+e.LI.item Project Management
						+e.A.btn(href="##") Let's Start >
			+b.plan-card
				+e.H4.title Ultimate
				+b.plan-cost
					+e.P.price #[strong.accent-text $ 70]
					+e.P.period Per Month
				+e.overlay
					+b.plan-desc
						+b.UL.desc-list
							+e.LI.item Full Branding
							+e.LI.item Project Management
							+e.LI.item Unlimited Revisions
							+e.LI.item 24/7 h Service
						+e.A.btn(href="##") Let's Start >
			+b.plan-card
				+e.H4.title Exclusive
				+b.plan-cost
					+e.P.price #[strong.accent-text $ 80]
					+e.P.period Per Month
				+e.overlay
					+b.plan-desc
						+b.UL.desc-list
							+e.LI.item Full Branding
							+e.LI.item Project Management
							+e.LI.item Unlimited Revisions
							+e.LI.item 24/7 h Service
							+e.LI.item Free Domain
							+e.LI.item Free Hosting
						+e.A.btn(href="##") Let's Start >
