+b.portfolio
	+e.container
		+e.H2.title The portfolio
		+e.P.subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		+b.tabs
			+e.BUTTON.tablink.tabs__tablink--active All works
			+e.BUTTON.tablink Print
			+e.BUTTON.tablink Identity
			+e.BUTTON.tablink Branding
			+e.BUTTON.tablink Web
			+e.BUTTON.tablink HTML
			+e.BUTTON.tablink Wordpress
		+b.gallery
			+e.item.gallery__item--1
			+e.item.gallery__item--2
			+e.item.gallery__item--3
			+e.item.gallery__item--4
			+e.item.gallery__item--5
			+e.item.gallery__item--6
			+e.item.gallery__item--7
			+e.item.gallery__item--8
			+e.item.gallery__item--9
			+e.item.gallery__item--10
			+e.item.gallery__item--11
			+e.item.gallery__item--12


