.portfolio
	background-color: #f3f3f3
	&__container
		display: flex
		flex-flow: column nowrap
		align-items: center
		width: 1170px
		margin: 0 auto
		padding: 80px 70px 140px
	&__subtitle
		text-align: center
		width: 460px
		margin: 30px auto 55px

