+b.portfolio
	+e.container
		+e.H2.title The portfolio
		+e.P.subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		+b.tabs
			+e.BUTTON.tablink.tabs__tablink--active(onclick="filterSelection(event, 'all')") All works
			+e.BUTTON.tablink(onclick="filterSelection(event, 'print')") Print
			+e.BUTTON.tablink(onclick="filterSelection(event, 'identity')") Identity
			+e.BUTTON.tablink(onclick="filterSelection(event, 'branding')") Branding
			+e.BUTTON.tablink(onclick="filterSelection(event, 'web')") Web
			+e.BUTTON.tablink(onclick="filterSelection(event, 'html')") HTML
			+e.BUTTON.tablink(onclick="filterSelection(event, 'wp')") Wordpress
		+b.gallery
			+e.item.gallery__item--1.print
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
			+e.item.gallery__item--2.identity
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
			+e.item.gallery__item--3.branding
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
			+e.item.gallery__item--4.web
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
			+e.item.gallery__item--5.html
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
			+e.item.gallery__item--6.wp
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
			+e.item.gallery__item--7.branding
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
			+e.item.gallery__item--8.print
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
			+e.item.gallery__item--9.html
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit
			+e.item.gallery__item--10.print
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
			+e.item.gallery__item--11.identity
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit
			+e.item.gallery__item--12.web
				+b.overlay-desc
					+e.H4.title Title here
					+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta quae facilis ratione
		+b.start.portfolio__start(style="background: url('../../img/gallery/bg.png') no-repeat; background-position: center")
			+e.P.text
				| At vero eos et #[strong accusamus] et iusto odio #[strong dignissimos] ducimus qui blanditis
			+e.BUTTON.btn Start Project

