+b.FOOTER.footer
	+b.logo
		+e.SPAN.text= title
	+e.P.copyright Copyright 2017. All rights Reserved
	+b.socials
		+e.A.icon.fa.fa-facebook(href="https://www.facebook.com/")
		+e.A.icon.fa.fa-twitter(href="https://twitter.com/")
		+e.A.icon.fa.fa-linkedin(href="https://www.linkedin.com/")
		+e.A.icon.fa.fa-instagram(href="https://www.instagram.com/")
		+e.A.icon.fa.fa-vimeo(href="https://vimeo.com/")
