+b.services
	+e.container
		+e.H2.title Our services
		+e.P.subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		+e.wrap

			+b.menu
				+e.icon
					+e.IMG.img(src="../../img/services/wrench.png")
				+e.icon.menu__icon--active
					+e.IMG.img(src="../../img/services/roll.png")
				+e.icon
					+e.IMG.img(src="../../img/services/joystick.png")
				+e.icon
					+e.IMG.img(src="../../img/services/fork.png")

			+b.services-desc
				+e.H3.title Graphic Design
				+e.P.text Lorem ipsum dolor sit amet #[strong.accent-text consectetur] adipisicing elit. Architecto iure ab #[strong quidem] corporis fuga dolorem accusamus
				+e.P.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores atque beatae nobis vel, error vitae, adipisci alias #[strong.accent-text accusantium], numquam vero corporis in nisi accusamus quis repellendus

			+b.skills
				+b.skill
					+e.circular-progress.skill__brand-80
					+e.SPAN.text Branding
				+b.skill
					+e.circular-progress.skill__web-75
					+e.SPAN.text Web Design
				+b.skill
					+e.circular-progress.skill__ui-60
					+e.SPAN.text UI/UX

	+b.impressed
		+e.container
			+e.H2.title Impressed ?
			+e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt provident nisi eaque reprehenderit accusantium in soluta dignissimos voluptates?
			+e.P.author - #[strong Abdulah Noman]
			+e.P.author-post Creative Director, #[span.accent-text Code Cafe]
		+e.picture
			+e.IMG.img(src="../../img/services/monitor.png")
			+e.P.monitor-text B#[span.accent-text o]uncy
