include _assets/bemto.pug
-
	set_bemto_settings({
		prefix: '',
		element: '__',
		modifier: '--'
	})

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel="stylesheet", href="css/main.css")
		title Document
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
	+b.BODY.page
		+e.wrapper
			include header/header
			include this-is/this-is
			include about/about
