include _assets/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header

doctype html
html

	+head({
		"title": "Bouncy",
		"author": "Alex Grigits",
		"description": "Bouncy Landing Page"
	})

	+b.BODY.page
		+e.wrap
			+header({
				"menu": [
					{
						"text": "Hello",
						"href": "index.html"
					},
					{
						"text": "About",
						"href": "index.html"
					},
					{
						"text": "Services",
						"href": "index.html"
					},
					{
						"text": "Portfolio",
						"href": "index.html"
					},
					{
						"text": "Team",
						"href": "index.html"
					},
					{
						"text": "Blog",
						"href": "index.html"
					},
					{
						"text": "Contact",
						"href": "index.html"
					}
				]
			})
