@import "./_base/reset"
@import "./_base/vars"
@import "./_base/fonts"
@import "./_base/base"
@import "./_base/grid"

// Sections
@import "./header/header"
@import "./top-menu/top-menu"
@import "./this-is/this-is"
@import "./about/about"
@import "./featured/featured"
@import "./services/services"
@import "./portfolio/portfolio"
@import "./team/team"
@import "./testimonials/testimonials"
@import "./news/news"
@import "./our-price/our-price"
@import "./subscribe/subscribe"
@import "./contact-us/contact-us"
@import "./footer/footer"

*
	box-sizing: border-box

.page__wrapper
	max-width: 1366px
	margin: 0 auto
