.header
	min-height: 737px
	padding-top: 40px
	position: relative
	z-index: 1
	background-repeat: no-repeat
	background-size: cover
	&:before
		@extend .before
		z-index: -1
		background-color: #202224
		opacity: .5

// .header__container
// 	+container(center)

// .header__title
// 	+col(12)
// 	text-align: center
// 	padding: 220px 0 43px

// .header__desc
// 	+col(6)
// 	color: $color-white
// 	font-size: 16px
// 	line-height: 1.75
// 	letter-spacing: 0.8px
// 	text-align: center
// 	margin-bottom: 220px

// .header-down
// 	+col(12)
// 	+container(center)

// .down-arrow
// 	font-size: 18px
// 	color: $color-white
// 	width: 35px
// 	height: 35px
// 	border: none
// 	border-radius: 50%
// 	background-color: $color-topaz
// 	cursor: pointer
// 	.fa.fa-angle-down
// 		line-height: 35px

.header__container
	@include container
	background: susy-svg-grid() no-repeat scroll

.header__title
	width: span(6)
	background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5)

.header__desc
	width: span(4)
	background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5)
