.header
	height: 737px
	background-repeat: no-repeat
	background-size: cover

.header__top-line
	+container()
	align-items: center
	height: 110px

.logo
	line-height: 25px
	font-size: 25px
	font-family: BigJohn
	color: $color-white

// .header__menu
// 	width: 550px

.header__hero
	padding-top: 175px

.hero
	+container()
	display: flex
	flex-flow: column wrap
	&__title
		align-self: center
		margin-bottom: 30px
	&__desc
		font-size: 16px
		text-align: center
		color: $color-white
		line-height: 28px
		letter-spacing: .8px

.down-arrow
	+btn-icon(36px, $color-topaz)
	padding: 12px

.header__down-arrow
	display: flex
	margin: 220px auto 0

