include ../top-line/top-line

header.header(style="background-image: url(../img/header-bg.jpg)")
	+top-line()
	.header__container
		h1.header__title We Are Code Cafe
		p.header__desc At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
		.header-down
			button.down-arrow
				i.fa.fa-angle-down



