mixin header(data)
	+b.HEADER.header
		+e.container
			+e.logo
				+b.A.logo(href='#')
					+e.SPAN.text Bouncy

			+b.NAV.nav.header__nav
				each item in data.menu
					+e.item
						+e.A.link(href=item.href)= item.text

