+b.featured
	+e.H2.title Featured projects
	+e.P.subtitle
		| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
	+b.featured-works
		+e.item-img
			img(src="../../img/featured/wiskey.jpg")
			+e.overlay
				+e.text Web Design
		+e.item-img
			img(src="../../img/featured/wiskey2.jpg")
			+e.overlay
				+e.text Vintage
		+e.item-img
			img(src="../../img/featured/slipcase.jpg")
			+e.overlay
				+e.text Branding

	+b.fold-footer
		+e.container
			+e.text At vero eos et #[strong accusamus] et iusto odio dignissimos ducimus qui
			+e.BUTTON.submit Submit Now
